.FormCreateChat-ModalLayout {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.FormCreateChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 380px;
    background-color: var(--white);

    border-radius: 20px;
}

.FormCreateChat-Icon {
    cursor: pointer;
    margin: 14px 14px 0 0;

    align-self: flex-end;
}

.FormCreateChat-ButtonAdd {
    background-color: var(--black);
    padding: 5px 17px;
    width: fit-content;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.FormCreateChat-ButtonAddText {
    color: white;

    font-size: 16px;
}

.FormCreateChat-Content {
    font-family: var(--font-manrope);
    font-weight: var(--font-weight-manrope-regular);

    border: 3px dashed var(--grey);
    border-radius: 16px;
    margin: 16px;

    padding: 19px 24px 9px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: calc(100% - 32px);
    box-sizing: border-box;


}

.FormCreateChat-RadioButton {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

.FormCreateChat-Theme {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.FormCreateChat-SelectedTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 6px;
}

.FormCreateChat-AddTag {
    display: grid;
    grid-template-areas:  "label label"
                          "input button"
                          "error error";

    grid-template-columns:  auto min-content;

    grid-row-gap: 15px;
    grid-column-gap: 8px;
}

.FormCreateChat-AddTagInput {
    border: 1px var(--grey) solid !important;
    border-radius: 16px;
    grid-area: input;

    padding: 4px 4px 4px 30px;
    background: url("src/assets/icons/hashtag.svg") no-repeat scroll 3px 4px;
    background-size: 21px 21px;
    box-sizing: border-box;
}

.FormCreateChat-AddTagButton {
    color: white;
    font-weight: var(--font-weight-manrope-bold) !important;
    padding: 4px 7px;
    background-color: var(--grey);
    grid-area: button;


}

.FormCreateChat-AddTagError {
    grid-area: error;
}

.FormCreateChat-AddTagInput::placeholder {
    font-size: 13px;
}

.FormCreateChat-AddTagLabel {
    grid-area: label;
}