.FormLogin {
    width: 566px;
    border-radius: 20px;


}

.FormLogin-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 319px;

    gap: 24px;
}

.FormLogin-Input {
    font-size: 16px;
}

.FormLogin-ButtonLogin {
    font-size: 16px;
    padding: 4px;
    min-width: 127px;
}

.FormLogin-Register {
    align-self: flex-end;

    font-size: 16px;
    font-family: var(--font-manrope);
    font-weight: var(--font-weight-manrope-regular);
}

.FormLogin-Wrapper {
    border: 3px dashed var(--grey);
    margin: 24px;
    border-radius: 20px;
    padding: 20px 16px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
}