.ChatTimer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-family: var(--font-manrope);
    font-weight: var(--font-weight-manrope-bold);
    color: var(--white);
    border-radius: 10px;
    padding: 2px 10px;
    width: 90px;
    height: 26px;
    box-sizing: border-box;
}