.TextInput {
  border: none;
  border-bottom: 1px solid var(--black);

  width: auto;

  font-family: var(--font-manrope);
}

.TextInput:focus {
  outline: none !important;
}

.TextInput::placeholder {
  font-family: var(--font-manrope);
  color: rgba(0, 0, 0, 0.3);
  font-weight: var(--font-weight-manrope-regular);
  font-size: 16px;
}

.TextInput-Error {
  color: var(--error);
  font-family: var(--font-manrope);
  font-size: 16px;

  align-self: flex-start;
  margin-top: -10px;
}