.TextInput {
  border: none;
  border-bottom: 1px solid var(--black);

  width: 100%;

  font-family: var(--font-manrope);
  position:relative;
  z-index:9;
  background:transparent;
  padding: 5px;
  font-size: 16px;
}

.TextInput:focus {
  outline: none !important;
}

.TextInput-Label {
  font-family: var(--font-manrope);
  color: rgba(0, 0, 0, 0.3);
  font-weight: var(--font-weight-manrope-regular);
  font-size: 16px;
}

.TextInput-Container {
  position: relative;
  width: inherit;
}

.TextInput-Label {
  position:absolute;
  left:5px;
  top:5px;
  z-index:1;
  color:#ccc;
}

.TextInput[required] + .TextInput-Label::after {
  content:" *";
  color: var(--red);
}

.TextInput-Error {
  color: var(--primary-red);
  font-family: var(--font-manrope);
  font-size: 16px;

  align-self: flex-start;
  margin-top: -10px;
}