.FormRegister {
    width: 566px;
    border-radius: 20px;
}

.FormRegister-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 319px;
    gap: 24px;
}

.FormRegister-Enter {
    align-self: flex-end;

    color: var(--black);
    font-size: 16px;
    font-family: var(--font-manrope);
    font-weight: var(--font-weight-manrope-regular);
}

.FormRegister-Input {
    font-size: 16px;
}

.FormRegister-ButtonRegister {
    font-size: 16px;
    padding: 4px 32px;
    min-width: 127px;
}

.FormRegister-Wrapper {
    border: 3px dashed var(--grey);
    margin: 24px;
    border-radius: 20px;
    padding: 20px 16px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
}