.AllMessages-Message {
    font-family: var(--font-manrope);
    font-weight: var(--font-weight-manrope-regular);

    width: auto;
    cursor: text;


    text-overflow: ellipsis;
}

.AllMessages-List {
    max-height: 315px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 16px;
}