.AllMessages-Message {
    font-family: var(--font-manrope);
    font-weight: var(--font-weight-manrope-regular);

    overflow-wrap: break-word;
    width: fit-content;
    cursor: text;
}

.AllMessages-List {
    max-height: 315px;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 16px;
}