@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Manrope:wght@400;500;700;800&display=swap');

.App {
  text-align: center;
  height: 100vh;
}

body, html, #root {
  margin: 0;
  padding:0;
  height: 100%;
}

:root {
  --font-caveat: 'Caveat', cursive;
  --font-manrope: 'Manrope', sans-serif;
  --font-weight-manrope-semibold: 600;
  --font-weight-manrope-bold: 700;
  --font-weight-manrope-regular: 400;
  --font-weight-manrope-extrabold: 800;

  --black: #414141;
  --white: #FFFFFF;
  --grey: #BAC1C7;
  --error: #e53838;

  --tag-active: var(--black);
  --tag-default: var(--white);
  --tag-border-radius: 14px;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}